@import '../../../../assets/scss/_variables.scss';
.centerAlign {
    text-align: center;
}

.counter-div {
    font-size: 15px;
}

.subLabel {
	color: #CCCCCC;
	white-space: nowrap;
}

.icon-button {
	font-size: 1.857em;
	cursor: pointer;
	&.icon-plus-outline{
		color: $red-color;
	}

	&.icon-minus-outline{
		color: $dark-gray-color;
	}
}

.counter-value {
    font-size: 1.143em;
}

.unclickable {
    pointer-events: none;
    color:  #CCCCCC;
}



